body{
    display: flex;
    flex-direction: column;
}

img {
    border: 2px solid rgb(75 70 74);
    border-radius: 0.5em;
    height: 200px;
    margin: auto;
}
img:hover{
    transform: scale(2) rotate(360deg);
    transition-duration: 1s;
}

div{
    background-color: aqua;
    width: 200px;
    margin: 20px auto;  
}

div:hover{
    background-color: aqua;
    animation-name: pulse 10s;
    animation-duration: 10s;
    transform: scale(2) rotate(80000deg) translateY(-5px);
    transition: transform 1s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    background: linear-gradient(45deg, yellow, green);
    
}

@keyframes pulse{
    0% {transform: scale(1); background-color: red;}
    100% {transform: scale(3); background-color: blue;}
}